#main {
    font-family: 'Open Sans', monospace;
    font-size: 24px;
    color: #850A29;
    background-color: #E6E6E6;
    text-align: center;
  width: 100%;
    margin: auto;
  padding: auto;
}
body {
  background: #E6E6E6;
}
#title {
    font-size: 110px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    padding: 100px;
    margin: auto;
}
#img-div {
    padding: 30px 130px;
    margin: auto;
    align-items: center;
}
#image {
    max-width: 100%;
    margin: 0;
}
#img-caption {
    text-align: center;
    align-items: center;
     margin: 20px auto;
    font-size: 18px;
}
#tribute-info {
    color: #850A29;
    text-align: center;
    padding: 7% 30%;
    font-size: 24px;
    line-height: 40px;
    margin: auto;
   
}
#tribute-link {
    width: 70vw;
    margin: 100px auto;
}
a:hover {
  color: blue;
}
#tribute-info:hover {
  background: #f2f0ee;
}